
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src='./assets/images/markus-spiske-Skf7HxARcoc-unsplash.jpg' class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src='./assets/images/adi-goldstein-EUsVwEOsblE-unsplash.jpg' class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src='./assets/images/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg' class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>

<nav mat-tab-nav-bar navbar-expand-lg>
  <a mat-tab-link routerLink="/home">Home</a>
  <a mat-tab-link routerLink="/courses">Courses</a>
  <a mat-tab-link routerLink="/registration">Registration</a>
  <a mat-tab-link routerLink="/gallery">Gallery</a>
  <a mat-tab-link routerLink="/rest-connect">REST-Connect</a>
  <a mat-tab-link routerLink="/contact-us">Contact Us</a>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a id="all_courses" class="nav-link dropdown-toggle"  routerLink="courses" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
              Courses</a>
            <ul class="dropdown-menu">
              <li>
                <div class="btn-group dropend">
                  <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">MEAN</a>
                  <ul class="dropdown-menu" style="margin-left: 15%">
                    <li><a class="dropdown-item" href="#">Mongo DB</a></li>
                    <li><a class="dropdown-item" href="#">Express</a></li>
                    <li><a class="dropdown-item" href="#">Angular</a></li>
                    <li><a class="dropdown-item" href="#">Node</a></li>
                  </ul>
                </div>
              </li>
              <li><a class="dropdown-item" href="#">MERN</a></li>
              <li><a class="dropdown-item" href="#">JAVA</a></li>
              <!-- <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li> 
            </ul>
          </li>
          <li class="nav-item">
          <!-- <li class="nav-item">
              <a class="nav-link" routerLink="courses">Courses</a>
          </li> 
          <li class="nav-item">
              <a class="nav-link" routerLink="registration">Registration</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="gallery">Gallery</a>
          </li>
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" routerLink="contact-us">Contact Us</a>
          </li>
      </ul>
  </div>
</nav> -->

<section>
  <router-outlet></router-outlet>   
</section>

<br>
<br>

<footer>
  <p>- Developed by Hasbullah | 2023 - </p>
  <p>Best Viewed with resolution of 1024 x 768 (or higher),  JavaScript enabled and supports Internet Explorer 11.0+, Google Chrome 6+, Mozilla Firefox 4+, Safari 3+, and Opera 9+.</p>
</footer>