
<label class="fw-bold">Welcome to Online Course Browser !!!</label>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a routerLink="/mean" class="card-link">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">MEAN STACK</h5>
                        <img src='./assets/images/mean-stack.png' class="card-img-top" alt="Item 1 Image">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a routerLink="/mern" class="card-link">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">MERN STACK</h5>
                        <img src='./assets/images/mern-stack.png' class="card-img-top" alt="Item 1 Image">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a routerLink="/mevn" class="card-link">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">MEVN STACK</h5>
                        <img src='./assets/images/mevn-stack.png' class="card-img-top" alt="Item 1 Image">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
